html, body {
	font-family: 'Poiret One', cursive;	height: 100%;
	margin: 0;
	padding: 0;
}
h1 {
	margin: 0;
	font-size: 1100%;
	font-weight: normal;
}
h2 {
	margin: 0;
	font-size: 150px;
	font-weight: normal;
}
h3 {
	margin: 0;
	font-size: 40px;
	font-weight: normal;
}
h4 {
	margin: 0;
	font-size: 40px;
	font-weight: normal;
	padding-top: 40px;
	font-style: italic; 
}
p {
	margin: 0;
	font-size: 300%;
	font-weight: normal;
}
a {
	text-decoration: bold;
	color: #F0F2F2;
}
li {
	font-size: 40px;
}
.language {
	margin: 0;
	font-size: 70px;
	padding-top: 30px;
}
::selection {
	color: yellow;
}
.title {
	float: center;
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 20%;
	padding-bottom: 10%;

}
.subtitle {
	background-color: #D93240;
	color: #F0F2F2;
	padding-top: 2%;
	padding-left: 9%;
	padding-bottom: 5%;

}
.biography {
	background-color: #0F5959;
	padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 60px;
    padding-left: 80px;
}
.projects {
	background-color: #66b3cc;
	padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
.skills {
	background-color: #638CA6;
	padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
.academics {
	background-color: #21B595;
	padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
.contact {
	background-color: #51E893;
	padding-top: 8%;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
.small {
	margin: 0;
	font-size: 500%;
	font-weight: normal;
}
.icon {
	margin: 0;
	padding-top: 100px;
	padding-right: 30px;
	width: 15%;
	height: 15%;
}
.contactlink {
	margin: 0;
	padding-top: 10px;
	padding-right: 30px;
	width: 20%;
	height: 20%;

}
.potato {
	margin: 0;
	padding-top: 10px;
	width: 40%;
	height: 40%;
}