html, body {
	font-family: 'Poiret One', cursive;	height: 100%;
	margin: 0;
}
h1 {
	margin: 0;
	font-size: 1100%;
	font-weight: normal;
}
h2 {
	margin: 0;
	font-size: 150px;
	font-weight: normal;
}
h3 {
	margin: 0;
	font-size: 40px;
	font-weight: normal;
}
h4 {
	margin: 0;
	font-size: 40px;
	font-weight: normal;
	padding-top: 40px;
	font-style: italic; 
}
p {
	margin: 0;
	font-size: 300%;
	font-weight: normal;
}
a {
	text-decoration: bold;
	color: #F0F2F2;
}
li {
	font-size: 40px;
}
.language {
	font-size: 70px;
	padding-top: 30px;
}
::selection {
	color: #0A0952;
}
.title {
	float: center;
	padding-top: 5%;
	padding-left: 45%;
	padding-bottom: 4%;

}
.subtitle {
	background-color: #6BCAE2;
	color: #F0F2F2;
	padding-top: 2%;
	padding-left: 9%;
	padding-bottom: 3%;

}
.biography {
	background-color: #D93240;
	color: white;
	padding-top: 5%;
    padding-bottom: 6%;
	padding-left: 9%;
}
.projects {
	padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
}
.skills {
	padding-top: 4%;
    padding-bottom: 8%;
    padding-left: 30%;
    padding-right: 10%;
}
.academics {
	background-color: #FFCC00;
	color: white;
	padding-top: 4%;
    padding-bottom: 7%;
    padding-left: 30%;
}
.contact {
	background-color: #FE8402;
	color: white;
	padding-top: 8%;
    padding-bottom: 5%;
    padding-left: 35%;
}
.small {
	margin: 0;
	font-size: 500%;
	font-weight: normal;
}
.icon {
	margin: 0;
	padding-top: 100px;
	width: 13%;
	height: 13%;
}
.contactlink {
	margin: 0;
	padding-top: 2%;
	padding-left: 1%;
	padding-right: 1%;
	width: 20%;
	height: 20%;

}
.potato {
	margin: 0;
	padding-top: 10px;
	width: 30%;
	height: 30%;
}