@import 'https://fonts.googleapis.com/css?family=Varela+Round';

html{
	height: 100%;
	width: 100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Varela Round', sans-serif;
}
p{
	font-size: 24px;
	line-height: 40px;
	text-align: left;
}
.main{
	height: 100vh;
	padding-top: 10rem;
	background-color: #000000;
	color: white;
}
.main h1{
	font-size: 80px;
	padding-top: 10rem;
	padding-bottom: 10px;
	letter-spacing: 4px;
}
.title{
	padding-top: 80px;
	height: 75vh;
	border-right: 7px solid #ffffff;
}
.about{
	height: 80vh;
	background-color: #ffffff;
	color: #000000;
	padding-top: 10rem;
	text-align: right;
}
.about-border{
	border-left: 7px solid #000000;
	height: 60vh;
}
.header{
	font-size: 60px;
	padding-bottom: 30px;
}
.profile{
	width: 60%;
 	display: block;
    margin: 0 auto;
    margin-top: 100px;
}
.projects{
	height: 90vh;
}
.contact{
	background-color: #000000;
	color: #ffffff;
	padding-top: 7rem;
	padding-bottom: 5rem;
}
.social ul{
  list-style: none;
  padding: 0;
}
.social li{
  display: inline;
  font-size: 60px;
  padding-right: 4rem;
}
.showcase{
	padding-bottom: 20px;
}
.showcase i{
	padding-left: 10px;
}
@media only screen and (max-width: 1200px) {
	.header{
		font-size: 40px;
		padding-bottom: 0;
	}
	p{
		font-size: 17px;
		line-height: 30px;
	}
	.about-border{
		height: 50vh;
	}
	.title, .about, .projects, .contact{
		height: inherit;
	}
	.showcase h2{
		font-size: 24px;
	}
	.social li{
		font-size: 40px;
	}
	.project-wrapper h1{
		padding-top: 30px;
	}

}